<h1>showing column</h1>

<p>
 name: <%= @std.name%>
</p>

<p>
  description: <%= @std.description%>
</p>

<%= link_to "edit the table", edit_student_path(@std)%>
<%= link_to "back to employees listing", students_path%> 